html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    font-family:  sans-serif; 
}

*,*:before,*:after {
    box-sizing: inherit;
}

/* #################### Utility Classes #################### */

.text-red {
    color: red;
}

.text-white {
    color: #fff;
}

.text-radium {
    color: #1ab6dd;
}

.text-gray {
    color: rgb(95, 94, 94);
}

.bg-red {
    background: red;
    border-radius: 10rem;
    padding: 0.5rem 1.5rem;
}

.bg-radium {
    background: #14b6df;
    border-radius: 10rem;
    padding: 0.5rem 1.5rem;   
}

.large-font {
    font-size: 3rem;
}

.medium-font {
    font-size: 2rem;
}

.small-font {
    font-size: 1.6rem;
}

/* ######################################################### */

/* ######################## Navbar Styling ######################## */

.navbar {
    width: 98vw;
    background: rgb(243, 243, 243);
}

h2 p1 {
    color: #2ab2d4;
}
h2 p2 {
    color: red;
}

.logo {
    float: left;
    margin: 0 4rem;
}

.navbar .nav-items {
    float: right;
    margin-right: 5rem;
}

.navbar .nav-item {
    margin-top: 10px;
    display: inline-block;
    padding: 1rem;
    margin: 8px 0 20px 20px ;
}

li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

li a:hover {
    border-bottom: 2px solid #14b6df;
}

.navbar::after {
    content: '';
    display: block;
    clear: both;
}

/* ############################################################### */


/* ######################## Content-1 Styling ######################## */
.content-1-wrapper {
    height: 98vh;    
    margin-bottom: 5rem;
}

.content-1-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.content-1-items {
    float: left;
    margin: 10rem 2rem;
    padding: 2rem;
}

.content-1-items input {
    border: none;
}

.content-1-items ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

input {
    height: 60px;
    width: 80%;
    padding-left: 50px;
    outline: none;

}

button {
    height: 40px;
    margin-left: -160px;
    border-radius: 10rem;
    border: none;
    outline: none;
    padding: 0.5rem 2rem;
    background: #fff;
    color: red;
    cursor: pointer;
}

img {
    float: left;
    margin: 5rem 1rem;

}

/* ############################################################### */


/* ######################## Content-2 Styling ######################## */


.content-2-wrapper {
    background: linear-gradient(155deg,#ff000d, #dd3333, #ec5656 50%);

}

.content-2-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.text-boxes {
    float: right;
    margin: 0;
    padding: 4rem;
    color: #fff;

}

img {
    margin: 0;
}
.img-box {
    float: left;
}

/* ############################################################### */





/* ######################## Content-3 Styling ######################## */
.content-3-wrapper {
    height: 98vh;    
}

.content-3-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.content-3-items {
    width: 45%;
    float: right;
    margin: 5rem 2rem;
    padding: 2rem;
}

.content-3 img {
    float: left;
    margin: 8rem 5rem;
}

.progress-area {
    background: red;
}
.progress-border {
    border: 1px solid #000;
}

/* ############################################################### */





/* ######################## Content-4 Styling ######################## */
.content-4-items h3 {
    text-align: center;
}
.image-box {
    width: 98vw;
}
.image {
    margin: 0rem 2.8rem;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.308);
    border-radius: 1em;    
}

.text-box {
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.308);
    border-radius: 1em;
    height: 170px;
    width: 250px;
    margin: 0 23em;
    padding: 1rem;
    text-align: center;
    background: linear-gradient(155deg,#f83b1a, #f33a3a, #ff7171 60%);
    color: #fff;
}
/* ############################################################### */



/* ######################## Content-5 Styling ######################## */
.content-5-wrapper::after {
    content: '';
    display: block;
    clear: both;
}
.content-5-items h3{
    float: left;
    margin: 9rem 0 0 3rem;
    
}

.content-5-wrapper img {
    float: right;
    margin: 0 3rem 0 0;
}


/* ############################################################### */


/* ######################## Content-6 Styling ######################## */

.content-6-items {
    display: flex;
}
.content-6-items img {
    border-radius: 2em;
    margin: 0 2rem;
}

.box {
    width: 200%;
    padding: 1rem;
    background: rgb(250, 250, 255);
    margin: 1px;
    border-radius: 1rem;

}
.calender-boxes {
    display: flex;
    flex-flow: column;
}

.im-6-box::after {
    content: '';
    display: block;
    clear: both;
}
.im-6-box img {
    margin: 1rem 2rem 1rem 12rem;
}

.img-6-box .calender-banner {
    border-radius: 1rem;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.308);
    float: left;
    padding: 1rem;
    margin-left: 2rem;
}


.dis-button {
    float: left;
    margin: 12rem 0 0 2rem;
    background: #14b6df;
}
/* ############################################################### */



/* ######################## Content-7 Styling ######################## */
.content-7-wrapper {
    background: linear-gradient(155deg,#ff000d, #dd3333, #ec5656 50%);
}

.content-7-wrapper::after {
    content: '';
    display: block;
    clear: both;
}

.text-7-items {
    display: flex;
}

.text-item {
    margin: 4rem 0 4rem  4rem;
    padding: 8rem 1rem 0 1rem;
}

.form {
    padding: 2rem;
    background: #fff;
    border-radius: 1em;
    width: 40%;
    margin: 4rem;
}

.form input {
    border: none;
    border-radius: 5em;
    height: 50px;
    margin: 1rem;
    background: #c0f2ff;
    color: rgb(95, 94, 94);
}
.form input[type="text"] {
    width: 40%;
    margin: 1rem;
    height: 50px;
}

.form textarea {
    margin: 1rem;
    border-radius: 1em;
    background: #c0f2ff;
    outline: 0;
    border: none;
    padding: 2rem;    
}

.form .form-btn {
    margin: 1rem;
}

.form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #000;
}

/* ############################################################### */


.footer {
    margin-top: 2rem;
    text-align: center;
}